/* 
    Document   : trackme.css
    Created on : 28-Dec-2012, 17:28:40
    Author     : Mattia Bertorello
    Description:
        Purpose of the stylesheet follows.
*/

.singup { 
    margin:0 auto;
    width: 226px;
}
.singup .btn{
    width: 200px;
}

#map_canvas {
    margin: 0;
    padding: 0;
    height: 400px;
}